.home-button{
    margin-top: 2vh;
    height: 5vh;
    width: 9vw;
    font-size: 1em;
    border-radius: 1vh;  
    background-color: gray; 
    font-weight: 700;
}
.home-button:hover{
    background-color: rgb(92, 80, 80);
    color: white;
    cursor: pointer;
}